// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {

	h1.panel-heading, h2.panel-heading, h3.panel-heading {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.row {
	margin-top: 10px;
}

.sentence {
	
	padding: 10px;
	border: 1px dashed #aaa;
	border-bottom: none;

	.edit-pane {
		display: none;
		
		label {
			margin-bottom: 10px;
			margin-top: 10px;
		}

		textarea {
			display: block;
		}

		button {
			margin-top: 10px;
		}

		border-top: 1px dashed #ccc;
	}

	.sentence-advice {
		display: none;

		p {
			margin-top: 10px;
		}
	}
}

#main-buttons {
	padding-top: 10px;
	border-top: 1px dashed #aaa;
}

.field_with_errors {
	background-color: transparent !important;

	input, select, textarea {
		border: 2px solid red;
	}
}

.form-report {
	label {
		margin-bottom: 15px;
	}
	select {
		width: auto;
	}

	input, textarea {
		width: 100% !important;
	}
}

.recent-reports {
	ul {
		margin-bottom: 0;
	}
}

.report {
	h3 {
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}
}

.correction_block {
	.correcton {

		padding-top: 10px;
		
		.correction-original-sentence {
			font-weight: bold;
		}
	}
	
}

