<div class="row">
  <% if @current_user %>
  <div class="col-sm-8">
    <%= render 'index_reports' %>
  </div>
  <div class="col-sm-4">
    <%= render 'recent_reports' %>
  </div>
  <% else %>
  <%= render 'index_reports' %>
  <% end %>
</div>