<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-primary">
			<h2 class="panel-heading">New Report</h2>
			<div class="panel-body">
				<%= render 'form' %>
			</div>
			<div class="panel-footer">
				<%= link_to 'Back', reports_path %>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<%= render 'recent_reports' %>
	</div>
</div>